<h1>プロフィール</h1><br>


<h3>名前</h3><br>
<%= @user.name %><br>

<h3>年齢</h3><br>
<%= @user.age %> <br>

<h3>メールアドレス</h3><br>
<%= @user.email %><br>

<h3>イメージ</h3>
<% if @user.avatar.attached? %>
    <%= image_tag(@user.avatar,:size => "260x180") %>
<% end %>
<br>
<%= link_to "Edit", edit_model_registration_path %>
