<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Number of pages:</strong>
  <%= @book.number_of_pages %> <br>
  <strong>Image of books:</strong> <br>
  
  <% if @book.image.present? %>
    <%= image_tag(@book.image,:size => "260x180") %>
  <% end %> <br>
  <strong>Detail:</strong> <br>
  <%= @book.detail %> 
</p>

<%= form_with(model: @book_review, local: true) do |form| %>
  <% if @book_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book_review.errors.count, "error") %> prohibited this book_review from being saved:</h2>

      <ul>
        <% @book_review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Review: 
    <%= form.text_area :detail %>
  </div>
  <%= hidden_field(:book_review, :model_id, :value => current_model.id) %>
  <%= hidden_field(:book_review, :book_id, :value => params[:id]) %>

  <div>
    Review List
    <ul>
      <% @book_reviews.each do |review| %>
        <li><%=  review.detail %> (<%= review.model.name %>)</li>
      <% end %>      
    </ul>

  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
